@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=IBM+Plex+Sans+JP:wght@200;300;400&family=Rubik:wght@400;500;700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');

:root {
    --main-bg-color: #F5F4EF;
    --title-article-color: #6C5753;
    --tech-bg-color:#E5CBC5;
    --star-color:#6C5753;
    --career-bg-color:#EBDAD4;
    --education-bg-color:#F1E8E4;
    --picture-bg-color:#D8ADA5;
    --picture-info-color:#F5F4EF;
    --nav-home-color: #626260;
    --nav-project-color: #4B4E5A;
    --nav-me-color: #6C5753;
    --nav-contact-color: #6A5736;
    --box-shadow: #777676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);

}

.nav {
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0.95;
    box-shadow: 2px 2px 3px #a2a2a1;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 60px 100px;
    list-style-type: none;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Chivo Mono', monospace;
}

li:hover {
    font-size: 25px;
}

.nav_home {
    color: var(--nav-home-color);
}

.nav_project {
    color: var(--nav-project-color);
}

.nav_me {
    color: var(--nav-me-color);
}

.nav_contact {
    color: var(--nav-contact-color);
}
.title {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    color: var(--title-article-color);
    font-family: 'Chivo Mono', monospace;
    margin-top: 30px;
    /* position: relative; */
}
.title h1 {
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: 800;
    transform: translateX(20px);
}
.title .content {
    display: flex;
}
.title p {
    width: 70%;
    font-size: 16px;
    line-height: 30px;
}
.title .pic {
    /* position: absolute; */
    background-image: url(../../image/Study.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* top: -20px;
    right: 60px; */
    /* height: 100%; */
    width: 30%;
}
.info_list {
    width: 60%;
    margin: 0 auto;
    color: var(--title-article-color);
    font-family: 'Chivo Mono', monospace;
}
.box {
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px var(--box-shadow);
}
.techincal {
    padding: 50px;
    /* background-color:var(--tech-bg-color) ; */
    border:solid 4px var(--title-article-color);
}
.info_list h2 {
    font-family: 'Chivo Mono',monospace;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}
.techincal h6 {
    width: 15%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.techincal p {
    font-family: 'Chivo Mono',monospace;
}
.techincal p.jpn {
    font-family:'IBM Plex Sans JP',sans-serif ;
    font-weight: 600;
    font-size: 16px;
}
.tec_list {
    display: flex;
}
.star {
    width: 85%;
}
.star i {
    margin-right: 10px;
    font-size: 18px;
}
.career {
    padding: 50px;
    /* background-color: var(--career-bg-color); */
    border: solid 4px var(--title-article-color);

}
.car_list {
    display: flex;
    font-family: 'IBM Plex Sans JP',sans-serif;
    font-weight: 600;
}
.car_list h6 {
    width: 40%;
    margin-bottom: 70px;
    /* margin-right: 40px; */
    font-size: 16px;
}
.car_list p {
    width:60%;
    font-size: 16px;
    /* margin-left: 100px; */
}
.education {
    padding: 50px;
    /* background-color: var(--education-bg-color); */
    border: solid 4px var(--title-article-color);
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-weight: 600;
}
/* .education h2 {
    font-family:'Chivo Mono',monospace;
    font-weight: 600;
} */
.edu_list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.edu_list h6{
    font-size: 16px;
    margin-bottom: 5px;
}
.edu_info {
    width: 40%;
}
.edu_list p {
    width: 60%;
    padding-right: 80px;
    /* margin-right: 65px; */
}
.expression {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.expression_pic {
    width: 200px;
    height: 250px;
    /* background-color: #626260; */
    margin-bottom: 15px;
}
.expression_pic.smile {
    background-image: url(../../image/Smile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.expression_pic.sad {
    background-image: url(../../image/Sad.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.expression_pic.sour {
    background-image: url(../../image/Sour.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.expression_pic.bitter {
    background-image: url(../../image/Bitter.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.block p {
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'IBM Plex Sans JP',sans-serif;;
}
.footer {
    width: 100%;
    height: 15vh;
    background-color:var(--main-bg-color);
}
