@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=IBM+Plex+Sans+JP:wght@200;300;400&family=Rubik:wght@400;500;700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');


:root {
    --main-bg-color: #F5F4EF;
    --title-article-color: #4B4E5A;
    --blue-block-bg-color:#BCC3E2;
    --block-letter-color1:#4B4E5A;
    --block-letter-color2:#F5F4EF;
    --left-button-bg-color: #F5F4EF;
    --right-button-bg-color: #717588;
    --left-button-letter-color: #4B4E5A;
    --right-button-letter-color: #F5F4EF;
    --left-button-border-color: #717588;
    --right-button-border-color: #F5F4EF;
    --button-shadow-color:#313130;
    --nav-home-color: #626260;
    --nav-project-color: #4B4E5A;
    --nav-me-color: #6C5753;
    --nav-contact-color: #6A5736;
    --project-pic-shadow:#777676;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);

}

.nav {
    width: 100%;
    height: 15vh;
    display: flex;
    background-color:var(--main-bg-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0.95;
    box-shadow: 2px 2px 5px #a2a2a1;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 60px 100px;
    list-style-type: none;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Chivo Mono', monospace;
}

li:hover {
    font-size: 25px;
}

.nav_home {
    color: var(--nav-home-color);
}

.nav_project {
    color: var(--nav-project-color);
}

.nav_me {
    color: var(--nav-me-color);
}

.nav_contact {
    color: var(--nav-contact-color);
}
.title {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    color: var(--title-article-color);
    font-family: 'Chivo Mono', monospace;
    margin-top: 30px;
    /* position: relative; */
}

.title h1 {
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: 800;
    transform: translateX(20px);
}

.title .content {
    display: flex;
}

.title p {
    width: 70%;
    font-size: 16px;
    line-height: 30px;
    font-family: 'IBM Plex Sans JP',sans-serif;;
}

.title .pic {
    /* position: absolute; */
    background-image: url(../../image/App.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* height: 170px; */
    width: 30%;
    transform: scale(1.5);
}
.project_part {
    width: 70%;
    margin: 40px auto 0px auto;
}
.flex {
    display: flex;
    padding: 30px 50px;
    /* background-color:aliceblue; */
    justify-content: space-around;
    /* background-color:var(--blue-block-bg-color); */
    /* margin-bottom: 20px; */
    /* justify-content: space-around; */
    transition: transform 1s ease, opacity 1s linear;
}
.flex > * {
    width: 49%;
}
.flex:nth-child(odd) {
    opacity: 0;
    transform: translateX(-100%);
    /* animation: comeinleft 1s ease forwards; */
}
.flex:nth-child(even) {
    opacity: 0;
    transform: translateX(100%);
    /* animation: comeinright 1s ease forwards; */
}
.flex.show {
    transform: translateX(0);
    opacity: 1;
}
.project_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Chivo Mono', monospace;
    color:var(--block-letter-color1);
    background-color:var(--right-button-letter-color);
    padding: 50px 0px;
    border-radius: 15px;
    border: 5px solid;
    border-color:var(--left-button-border-color);
}
.project_info h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.project_info p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 60px;
}
.btn_part {
    display: flex;
    justify-content:space-around;
    padding: 10px;
}
.btn_part button {
    /* width: 100px; */
    margin: 0 30px;
    font-size: 18px;
    padding: 10px;
    font-family:'Chivo Mono', monospace;
    font-weight: 200;
    border-radius:10px;
    box-shadow: 2px 3px 5px var(--button-shadow-color);
}
.btn_part button:active {
    box-shadow: none;
}
.btn_part button.code {
    color:var(--left-button-letter-color);
    /* border: none; */
    background-color:var(--left-button-bg-color);
    border-color: var(--left-button-border-color);
    border: 4px solid ;
}
.btn_part button.site {
    color: var(--right-button-letter-color);
    background-color: var(--right-button-bg-color);
    border-color: var(--right-button-border-color);
    border:4px solid;
}
.project_pic {
    /* padding: 20px; */
    border-radius: 15px;
    /* border: 4px solid var(--blue-block-bg-color); */
    box-shadow:2px 3px 15px var(--project-pic-shadow);
    /* background-color: #4B4E5A; */
    transition: 0.3s ease-in;
}
.project_pic:hover {
    transform: scale(1.1,1.1);
}
.project_pic.one{
    /* padding:20px 20px; */
    background-image: url(../../my_projects/No.1_huddle-landing-page-with-alternating-feature-blocks-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}
.project_pic.two {
    background-image: url(../../my_projects/No.2_pricing-component-with-toggle-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
.project_pic.three {
    background-image: url(../../my_projects/No.3_base-apparel-coming-soon-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project_pic.four {
    background-image: url(../../my_projects/No.4_intro-component-with-signup-form-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project_pic.five {
    background-image: url(../../my_projects/No.5_huddle-landing-page-with-single-introductory-section-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project_pic.six {
    background-image: url(../../my_projects/No.6_single-price-grid-component-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project_pic.seven {
    background-image: url(../../my_projects/No.7_four-card-feature-section-master/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.project_pic.eight {
    background-image: url(../../my_projects/No.8_3-column-preview-card-component-main/design/desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.footer {
    width: 100%;
    height: 15vh;
    background-color: var(--main-bg-color);
}
/* @keyframes comeinleft {
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes comeinright {
    to {
        opacity: 1;
        transform: translateX(0);
    }
} */
